

body {
    min-width: 480px;
    margin-left: 15%;
    margin-right: 10%;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
}
html{font-size: 16px; line-height: 1.42857}
html.md-default-theme, html, body.md-default-theme, body{
    background-color: #fff;
}

.studentBlock{
    background-color: #ccc;
    border-radius: 16px;
    font-size: 14px;
    padding: 5px 10px;
    margin: 20px 10px;
    //float: left;
    display: inline-block;
    box-sizing: border-box;
    max-width: 200px;
    min-width: 50px;
    position: relative;
    color: #404040;
    cursor: move;
}
.studentBlock:hover{
    background-color: #ddd;
}

.studentBlock:after{
    display: block;
    content:"";
    clear:both;
}

.studentBlock.dragging{
    opacity: 0.8;
}

.teamBlock{
    width: 50%;
    min-height: 100px;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.teamDropArea{
    background-color: #eee;
}

*{
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
[ng-drag]{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

